.footer {
    text-transform: uppercase;
    height: 45rem;
    position: relative;
    background-color: $color-very-light-gray;
    z-index: 100;

    &__pattern-image {
        position: absolute;
        z-index: -10;
    }
    
    &__container {
        margin: 0 20rem;
        padding-top: 5rem;
        & hr {
            border: 1px solid $color-grayish-blue;
            margin: 4rem 0;
        }
    }
    &__top-section {
        display: flex;
        justify-content: space-between;
    }

    &__social-media {
        width: 10%;
        &-link {
            &:hover{
                fill: $color-dark-grayish-violet;
            }
        }
    }
    &__social-media-list {
        display: flex;
        justify-content: space-between;
    }

    &__links-box {
        display: flex;
        justify-content: space-between;
    }

    &__links-title {
        padding-bottom: 2rem;
        color: $color-grayish-blue;
        font-weight: 700;
    }
    &__link {
        color: $color-dark-violet;
        font-weight: 700;
        &:hover {
            text-decoration: underline;
        }
    }
    &__list-item {
        padding-top: 2rem;
    }
}