.header {
    &__nav {
        margin: 2rem 20rem;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 15rem;
        height: 2.2rem;
    }
    &__list {
        display: flex;
        list-style: none;
        width: 55rem;
        justify-content: space-between;
        align-items: center;

        &-item {
            color: $color-dark-grayish-violet;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: .2rem;
            &:hover {
                color: $color-dark-violet;
                cursor: pointer;
            }
        }
    }
}